body{
	 
	 border: none;
	 margin: 0;
	 padding: 0;
	 background: #030408;
	 white-space: nowrap;
	 height: 1000px;
	 color: white;

}


#HeaderItems{
	font-size: 30px;
	margin-left: 6px;
	margin-right: 6px;
	height: 35px;
	border: 3px solid white;
	padding-right: 25px;
	padding-left: 25px;
	line-height: 30px;
	display: inline-block;
}

#HeaderItems a{
	color: white;
	text-decoration: none;
}

#Header{
	border-bottom: 3px solid white;
	text-align: center;
	height: 30px;
	background: #0052cc;
	padding-bottom: 40px;
}

#HeaderItems:hover{
	cursor: pointer;
    background-color: black;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.Current{
	background-color: black;
}

#HeaderText2{
	line-height: 30px;
	padding-left: 7px;
	position: absolute;
}
content{
	text-align: center;
	width: 900px;
	margin: 0 auto;
}

#Kantlijn{
	white-space: normal;
	position: relative;
	display: block;
	margin: 0 auto;
	height: auto;
	width: 500px;
}

#Servers{
	border: 3px solid white;
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 370px;
}
#Textblok{
	font-size: 20px;
}
@media screen and (max-width: 1647px) {
	#HeaderItems{
		background:#0052cc ;
		padding: 0;
		margin: 0;
		display: block;
		position:;
	}


	#Responsive{
		height: 225px;

	}
	#HeaderText2{

		display: none;
	}
	#Textblok{
	font-size: 2.6vw;
}

#Servers{
	height: 300px;
	width: 300px;
	border: 3px solid white;
}

}
