body{
	 
	 border: none;
	 margin: 0;
	 padding: 0;
	 background: #030408;
	 white-space: nowrap;
	 height: 1000px;
	 color: white;

}
@media only screen and (max-width: 600px) {

#wrapper{
	min-width:780px;
	max-width: 900px;
	max-height: 1000px;
	}
header{
	width: 1050px;
	}

	#Kantlijn{
		width: 100%;
		}

		#Servers{
	width: 300px;
	height: 300px;
		}
	
}

header{
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	color: white;
	height: 60px;
	background: #5159a5;
	margin-top: -6px;
}

.Current{
	background:#7f89e0 !important;
}
#HeaderText2{
	line-height: 60px;
	text-align: center;
	margin-top: 5px;
	padding: 0;
	border: none;
}
#Dropdown{
	height: 150px;
	margin-top: -25px;
	width: 140px;
}

#DropdownButton{
	cursor:pointer;
	position: absolute;
	height: 45px;
	width: 80px;
	margin-left: 40px;
	border: none;
	background: #5159a5;
	margin-top: -34px;
}

#MenuItems{
	background: #5159a5;
	padding-top: -50px;
	text-decoration: none;
	display: none;
	color: white;
}
#Dropdown:hover #MenuItems{
	text-align: center;
	display: block;
	
}



content{
	text-align: center;
	width: 900px;
	margin: 0 auto;
}

#Kantlijn{
	white-space: normal;
	position: relative;
	display: block;
	margin: 0 auto;
	height: auto;
	width: 500px;
}

#Servers{
	border: 3px solid white;
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 370px;
}