#Klanten{
	margin-top: -50px;
	text-align: center;
}

#Bedrijven{
	width: auto:;
	margin-left: 300px;
	font-size: 20px;
	text-align: center;
}

#Bedrijven2{
	width: auto;
	margin-top: -135px;
	font-size: 20px;
	margin-right: 300px;
	text-align: center;
}