#Media{
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 30px;
}


#Twitter{
	display: block;
	margin: auto;
	width: 750px;
}

body{
	
}
@media screen and (max-width: 1500px){
#Twitter{
	width: 500px;
}
}
@media screen and (max-width: 500px){
	#Twitter{
		width: 300px;
	}

}

@media screen and (max-width: 600px){
	#Media{
		font-size: 31px;
	}
	}